*{
    margin: 0;
}
header{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
}
    
.bacalhao{
    width: 30%;
    text-align: center;

    
}

.titulo{
    background-color: #3F3F3F;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-top: #4B4B4B solid 4px;
    border-bottom: #2C2C2C solid 4px;
}

.baska{
    text-align: center;
    background-color: #2C2C2C;
    border: #3C3C3C;
}

.joa{
    text-align: center;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;

}

.gar{
    text-align: end;
}