*{
    margin: 0;
}
header{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
}

html{
    background-color: #00614c;
}
.bacalhao{
    width: 30%;
    text-align: center;

    
}

.titulo{
    background-color: #3F3F3F;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-top: #4B4B4B solid 4px;
    border-bottom: #2C2C2C solid 4px;
}

.baska{
    text-align: center;
    background-color: #2C2C2C;
    color: white;
    border: #607D8B solid;
}

.joa{
    text-align: center;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;

}

.gar{
    text-align: end;
}

.tempero{
    background-color: rgb(92, 92, 92);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.stark{
    margin: 11%;
    padding: 1%;
    background: #187d67;
    color: #ececec;
    border: solid mediumaquamarine;
    border-style: groove;
}

.ombro{
    background-color: indianred;
    margin-top: 22%;
}

.camp{
    padding: 0%;
}