header{
    display: flex;
    background-color: black;
    color: white;
}
    
.bacalhao{
    width: 50%;
    
}

.titulo{
    background-color: #3F3F3F;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-top: #4B4B4B solid 4px;
    border-bottom: #2C2C2C solid 4px;
}